{
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended"
    ],
	"plugins": [
    "dollar-sign",
    "jquery"
],
    "rules": {
        "quotes": ["error", "single"]
    }
	
}